[submodule "pcre"]
	path = pcre
	url = https://github.com/bitkeeper-scm/pcre.git
[submodule "tcl"]
	path = tcl
	url = https://github.com/bitkeeper-scm/tcl.git
[submodule "tk"]
	path = tk
	url = https://github.com/bitkeeper-scm/tk.git
